alembic==1.4.0
bs4==0.0.1
connexion[swagger-ui]==2.6.0
elasticsearch==7.5.1
flask==1.1.1
flask-cors==3.0.8
flask-jwt-extended==3.24.1
flask-login==0.4.1
flask-migrate==2.5.2
flask-sqlalchemy==2.4.1
gunicorn==20.0.4
jsonschema==3.2.0
lxml==4.5.0
psycopg2-binary==2.8.4
pika==1.1.0
redis==3.4.1
requests==2.22.0
pymongo==3.10.1
pytest==5.3.5
pytest-html==2.0.1
