body {
    background-attachment: fixed;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
}

.category {
    font-weight: 700;
    padding: 5px 20px;
}

.category a {
    font-size: 8px;
}

.category .category {
    font-weight: 600;
}

.category .category .category {
    font-weight: normal;
}

.category .category,
.category .category .category {
    padding-left: 20px;
}

.category img {
    width: 50px;
}
